.inputs {

    margin-top: 50px;

    input {
        padding-left: 100px;
        width: 300px;
        margin: 10px 0 10px 0;
        padding: 10px;
        border: 0px;
        border-bottom: 2px solid black;
        outline: none;
        background-color: transparent;
    }

    select {

        padding-left: 100px;
        width: 300px;
        margin: 10px 0 50px 0;
        padding: 10px;
        border: 0px;
        border-bottom: 2px solid black;
        background-color: transparent;

    }

}

.enviar {

    input {

        padding-left: 100px;
        width: 300px;
        margin: 10px 0 50px 0;
        padding: 10px;
        border: 0px;
        border: 2px solid black;
        background-color: transparent;

    }

}